* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: a;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

video {
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1000;
}

/* Common */
a {
    position: relative;
    color: #fff;
    text-decoration: none;
}

a:after {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}

.navbar a:hover:after {
    width: 100%;
}

.choose a:before {
    content: "";
    position: absolute;
    background-color: #ccc;
    height: 2px;
    width: calc(100% + 50px);
    left: 0;
    bottom: 0;
}

.choose a:after {
    background-color: #181818;
}

.choose a:hover:after {
    width: calc(100% + 50px);
}

.content {
    max-width: 1320px;
}

.desc-content {
    line-height: 1.8;
    width: 480px;
}
/* Header */
.header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    width: 100%;
    height: 94px;
    background-color: #181818;
    padding: 16px 60px;
}

.header .navbar {
    display: flex;
    width: 86%;
    justify-content: space-between;
    padding: 0 36px;
}

.navbar a {
    padding: 4px 0;
    margin: 10px;
}

.header .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 86% - 60px);
    font-size: 2.8rem;
    color: #fff;
}

/* Đổi màu icon sang trắng */
.header .icons img {
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
    margin: 0 5px;
}

/* HURACAN */
.huracan {
    background-image: url("/assets/img/gate_hura_hero_03.webp");
}

/* AVENTADOR */
.aventador {
    background-image: url("/assets/img/aven_gate_hero_01.webp");
}

/* URUS */
.urus {
    background-image: url("/assets/img/urus.jpg");
}

/* Content */
.slider {
    position: relative;
    margin-top: 94px;
    height: calc(100vh - 94px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -220px;
}

.slider .content {
    position: relative;
    top: 30%;
    line-height: 1.3;
    font-weight: 800;
    margin: auto;
    color: #fff;
}

.slider p {
    font-size: 3rem;
}

.slider h2 {
    font-size: 9rem;
}

.desc {
    position: relative;
    height: 1682px;
    color: #a9a9a9;
    padding-top: 200px;
    overflow-x: hidden;
}

.desc-1 {
    position: absolute;
    right: 55%;
}

.desc-1 p {
    padding-top: 20px;
}

.desc .img-mh1 {
    position: absolute;
    top: 0;
    left: calc(50% + 260px);
    clip-path: polygon(33% 0, 100% 0, 67% 100%, 0% 100%);
}

.desc .img-mh2 {
    position: absolute;
    left: calc(50% - 195px);
    top: 640px;
    clip-path: polygon(33% 0, 100% 0, 67% 100%, 0% 100%);
}

.desc .img-mh3 {
    position: absolute;
    right: calc(50% - 180px);
    top: 705px;
    clip-path: polygon(33% 0, 100% 0, 67% 100%, 0% 100%);
}

.desc .img-mh4 {
    position: absolute;
    right: calc(50% + 215px);
    bottom: 0;
    clip-path: polygon(26% 25%, 95% 25%, 76% 100%, 6% 100%);
}

.desc .desc-2 {
    position: absolute;
    left: calc(50%);
    top: 1400px;
}

.desc-2 .title {
    color: black;
    font-weight: 600;
    font-size: 3rem;
}

.choose {
    position: relative;
    padding-top: 60px;
}

.choose h2 {
    position: absolute;
    top: 65px;
    right: 50%;
    transform: translateX(50%);
    font-size: 4rem;
    font-weight: 600;
}

.choose .btn {
    display: flex;
    position: absolute;
    justify-content: space-between;
    height: 35px;
    width: 120px;
    top: 120px;
    right: 50%;
    transform: translateX(50%);
}

.choose .left,  .choose .right{
    border: 2px solid #181818;
    border-radius: 12px;
}

.choose .left:hover,  .choose .right:hover {
    cursor: pointer;
    background-color: #a9a9a9;
}

#link-dt {
    color: #181818;
    font-size: 2.6rem;
    font-weight: 600;
    padding: 5px 10px 5px 0;
    border-radius: 4px;
    position: absolute;
    top: 73%;
    left: 135px;
}

.huracan-2 {
    background-image: url("/assets/img/slide3.jpg");
}

.aventador-2 {
    background-image: url("/assets/img/aven_gate_01.webp");
}

.urus-2 {
    background-image: url("/assets/img/urus_gate_01.webp");
}

.slider-2 {
    height: 100vh;
    background-size: cover;
    clip-path: polygon(0 10%, 100% 10%, 100% 100%, 0 100%);
}

.about-us {
    display: flex;
}

.img-1, .img-2 {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-1 {
    background-image: url(/assets/img/image1.webp);
    width: 100%;
    height: 71vh;
}

.img-2 {
    background-image: url(/assets/img/image2.webp);
    width: 100%;
}

.about-us .title {
    position: absolute;
    top: 70%;
    left: 8%;
}

.about-us p {
    color: bisque;
    font-size: 3rem;
    font-weight: 600;
}

.about-us h2 {
    color: bisque;
    font-size: 7rem;
    font-weight: 600;
}

/* Footer */

footer {
    height: 365px;
    background-color: #181818;
    color: #fff;
}

.contain {
    width: 82%;
    margin: auto;
    padding-top: 50px;
}

.cv {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.icon {
    padding: 5px;
}

/* Chuyển ảnh sang màu trắng */
.icon img {
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
    margin: 0 5px;
}

.info {
    margin-left: -15px;
    padding-bottom: 26px;
}

.info a {
    cursor: default;
    display: inline-block;
    padding: 8px 15px;
}

footer p {
    padding: 26px 0;
    line-height: 1.5;
}
